div {
    border: 1px solid black;
    border-radius: 5px;
    background-color: blueviolet;
    height: 200px;
    width: 300px;
    text-align: center;
    line-height: 200px;
}
#baidu {
    width: 150px;
    height: 100px;
    line-height: 100px;
}